
/* font section  */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ......................................................... */

.main{

margin: 20px 140px;

}

/* nav styles  */

nav{
    display: flex;
    justify-content: space-between;

}

.logo-section{

    display: flex;
}

.logo-section h1 {

    color:  #111;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 10px;
    

    }

 nav  li {

    display: inline;
    margin-left: 32px;
    color: var(--Orange, #FEA301);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 


 }

 nav button {

    padding: 10px 55px;
    border-radius: 12px;
    background: var(--Orange, #FEA301);
    border: none;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 15px;
    
 }


/* responsive section */

@media screen and (max-width:576px) {

    .main{
        margin: 20px 16px ;
    }
    
}