
/* font section  */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ......................................................... */

header{
    margin: 20px 160px;
}

main {
    
    background: linear-gradient(0deg, rgba(241, 192, 107, 0.3) 0%, rgba(255, 255, 255, 0.30) 100%) ,  url('../styles/images/bg.png');
}
.main-section{

margin: 20px 160px 0;

}

/* nav styles  */

nav{
    display: flex;
    justify-content: space-between;

}

.logo-section{

    display: flex;
}

.logo-section h1 {

    color:  #111;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 10px;
    

 }

 nav  li {

    display: inline;
    margin-left: 32px;
    color: var(--Orange, #FEA301);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 


 }

 nav > div > button {

    padding: 10px 55px;
    border-radius: 12px;
    background: var(--Orange, #FEA301);
    border: none;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 15px;
    
 }

 #btn-secondary {
    display: none ;
    text-decoration: none;
 }

 /* banner section styles */

 .banner {

    display: flex;
    justify-content: space-between;
   

 }

 .banner-hero{

    margin-top: 60px;
 }

 .banner h1 {
    font-family: Quicksand;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px; 
    margin-bottom: 0;
}

.banner p {

    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner button {
    color: #FFF;
    border-radius: 12px;
    background: var(--Black, #111);
    padding: 10px 40px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;

}

.line{
    display: none;
}

marquee {
    font-size: 20px;
    font-family: Quicksand ;
    color: #01ACFD;
    font-weight: 800;
 }

/* Curriculum-section style */


.Curriculum-section{
    background-image: url('../styles/images/bg.png');
   
}

.Curriculum-section h1{
    
    margin-top: 60px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;

}

.arrow-btn {
    
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;

}

.arrow-btn button {
    
    color: #FFF;
    padding: 20px;
    font-size: 40px;
    background-color: #FEA301;
    border-radius: 30px;
    border: none;
    margin: 10px;
}

.Curriculum-card {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 80px;
      gap: 30px;
}

.card-1 {
    padding: 52px 45px;
    border-radius: 18px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-1 h2{
    color: #202020;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.654px; 
}

.card-1 p{
    color: #808080;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.296px; 
}

.card-1 h4 {
    color: #64C8FF;
    margin-top: 35px;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.296px;
}
.card-2 {
    padding: 52px 40px;
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-2 h2{
    color: #202020;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.654px; 
}

.card-2 p{
    color: #808080;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.296px; 
}

.card-2 h4 {
    color: #F0AA00;
    margin-top: 35px;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.296px;
}
.card-3 {
    padding: 52px 40px;
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-3 h2{
    color: #202020;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.654px; 
}

.card-3 p{
    color: #808080;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.296px; 
}

.card-3 h4 {
    color: #8700FF;
    margin-top: 35px;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.296px;
}

 /* stories section styles */

 .stories-section {
    z-index: 2;
    background-repeat: repeat;
    padding-bottom: 80px;

   

 }

.stories-section h1 {
 
    margin-top: 0px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 80px;


}

.viewbtn{
    text-align: center;
}

.viewbtn button {

     padding: 10px 55px;
     margin-top: 80px;
     border-radius: 12px;
    background:  #111;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
   
}

.stories-card-container {
    display: flex;
    justify-content: space-between;
    
    
}

.main-card{
    border-radius: 16px;
    background: #FFF;
    position: relative;

}
.main-card img {
    border-radius: 10px 10px 0 0;
    width: 600px;
    
}

.main-card h2 {
    color: #000;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.347px; 
    padding-left: 38px;
    
}
.main-card p {

    color: #666;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.761px; 
    padding-left: 34px;
    padding-bottom: 40px;

}
 .main-card button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, 90%);
    padding: 9px 10px;
    border-radius: 47.934px;
    background: #5D58F0;
    border: none;
    color: #FFF;
 }
.secondary-card{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 40px;
    
}
.secondary-card img {
    border-radius: 10px 10px 0 0;
    width: 350px;
}




.container{
     position: relative;
     border-radius: 16px;
    background: #FFF;
}

.container p {
    padding-left: 37px;
    color: #000;
    font-family: Quicksand;
    font-size: 15.339px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.761px; 
    
}



.btn-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
    padding: 9px 10px;
    border-radius: 47.934px;
    background: #5D58F0;
    border: none;
    color: #FFF;
}

/* footer styles */

footer {
    background: #01ACFD;
}

.footer-container{
    
    margin: 0px 160px;
    display: flex;
    justify-content: space-around;
    padding-top: 127px;
    padding-bottom: 100px;

}

.footer-title{
    display: flex;
    gap: 10px;
}
.footer-title img {
    background: #FFF;
    height: 100%;
    margin-top: 6px;
}
.footer-title h1 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 39.509px;
    margin-top: 0;

}
#about{
    margin-left: 30px;
}
.footer-container p {
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.footer-container h2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-container li {
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
   padding-top: 10px;
}
/* responsive section */

@media screen and (max-width:576px) {
 
    header{
        margin: 20px 16px ; 
    }
    .main-section{
        margin: 20px 16px 0 ;
    }
   
    nav h1 , ul> li   {

        display: none;
    }

    nav  button {
        display: none;
    }
    
    #btn-secondary{
        display: inline ;
       margin-top: 10px;
       font-size: 40px;
       border: none;
       background-color: #FFF;
       

    }

    /* baneer  */

    .banner{   
        display: flex;
        flex-direction: column-reverse;

    }

    .banner img {

        width: 100%;
    }

    .banner-hero {

        text-align: center;
        margin-top: 0;
        padding: 5px;
    }

    .line{
        display: block;
    }

    marquee {
       font-size: 20px;
       font-family: Quicksand ;
       color: #01ACFD;
       font-weight: 800;
    }

    /* card */

    .Curriculum-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-top: 80px;
        gap: 30px;
      
  }

  .arrow-btn {
    margin-top: 0;
  }

  .arrow-btn button{
     display: none;
     
  }

  .main-card {

    display: none;
  }
 
  .secondary-card {
    gap: 8px ;
  }
  .secondary-card img {
     width: 100%;
  }

  .container p {
    padding-left:10px;
    color: #000;
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
  }

  .btn-middle{
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-20%, 120%);
    padding: 5px 5px;
    border-radius: 47.934px;
    background: #5D58F0;
    border: none;
    color: #FFF;
  

 }

 .footer-container{
    
    margin: 0px 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 127px;
    padding-bottom: 100px;

}

#about{
    margin-left: 0;
}

.footer-links ol {

    padding-left: 1px;

}
 
}


   
    
